# Next.js
.next/
out/

# Node.js
node_modules/

# TypeScript
*.tsbuildinfo

# npm
npm-debug.log*
.npm/
.env.local
.env.development.local
.env.test.local
.env.production.local

# Vercel
.vercel/

# macOS
.DS_Store

# Logs
logs/
*.log

# misc
.env
.env.*
.DS_Store
